<!doctype html>
<html>
    <head>
        <title>Car Search Demo</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <div class="container">
            <h1>Car Search Demo</h1>
            <p>
                Semantic search demonstration using Aurora PostgreSQL with
                pgvector
            </p>
            <p><hr/></p>
            <p><br/></p>

            <div class="links">
                <a href="/search" class="button">Traditional Search</a>
                <a href="/semantic" class="button">Semantic Search</a>
                <a href="/keyword" class="button">Hybrid Keyword Search</a>
                <a href="/hybrid" class="button">Hybrid Semantic Search</a>
            </div>
        </div>
    </body>
</html>
